<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Master Bank</strong>
        </c-card-header>
        <c-card-body>
            <!-- <app-docs-example href="components/table"> -->
                <table cTable>
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Norek</th>
                            <th scope="col">Nama</th>
                            <th scope="col">No. Telp</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of masterBank; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{data?.norek}}</td>
                            <td>{{data?.nama}}</td>
                            <td>{{ data.notelp }}</td>
                            <td>Rp. {{ data.saldo }}</td>
                        </tr>
                    </tbody>
                </table>
            <!-- </app-docs-example> -->
        </c-card-body>
    </c-card>
</c-col>